.about-container {
  min-height: 100vh;
  min-width: 100wh;
  /* background-color: #001031; */
  /* background-image: url("../Images/about.jpg"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1113%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(44%2c 1%2c 144%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c676.249C132.13%2c667.656%2c260.78%2c649.058%2c379.686%2c590.803C510.034%2c526.942%2c640.578%2c451.233%2c714.392%2c326.252C791.949%2c194.934%2c809.335%2c37.467%2c796.229%2c-114.48C782.597%2c-272.535%2c728.109%2c-422.359%2c638.531%2c-553.29C541.013%2c-695.826%2c423.178%2c-830.784%2c262.625%2c-894.417C94.711%2c-960.968%2c-102.368%2c-984.714%2c-267.953%2c-912.564C-428.349%2c-842.674%2c-510.398%2c-669.893%2c-598.956%2c-518.999C-674.078%2c-390.998%2c-731.785%2c-254.67%2c-740.998%2c-106.539C-749.73%2c33.856%2c-706.149%2c167.865%2c-649.688%2c296.702C-592.466%2c427.276%2c-535.906%2c570.433%2c-412.81%2c642.345C-291.131%2c713.43%2c-140.624%2c685.395%2c0%2c676.249' fill='%231d015e'%3e%3c/path%3e%3cpath d='M1920 1871.614C2065.972 1859.374 2179.228 1754.105 2305.455 1679.779 2437.441 1602.062 2593.842 1554.309 2677.154 1425.781 2765.686 1289.2 2820.119 1113.277 2773.803 957.242 2728.514 804.6669999999999 2550.544 743.975 2440.6130000000003 628.886 2337.636 521.077 2290.834 346.19100000000003 2148.321 302.409 2005.702 258.595 1859.959 349.674 1722.789 408.36199999999997 1599.841 460.96500000000003 1488.4180000000001 529.428 1394.714 624.837 1296.01 725.337 1210.9299999999998 837.514 1169.1770000000001 972.048 1122.451 1122.605 1083.048 1289.031 1143.376 1434.672 1204.283 1581.711 1351.929 1670.063 1490.637 1748.1019999999999 1623.113 1822.635 1768.528 1884.315 1920 1871.614' fill='%233b01c2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1113'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  background-attachment: fixed;
}

#about {
  padding-top: 5%;
  text-align: right;
  color: #ffffff;
}

.achievment-li {
  background: rgba(236, 213, 235, 0.2);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  /* border-radius: 10px; */
}
#root{
  background-image: url("../Images/about2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  /* background-color: #001031; */
}